<div class="section">
    <h3>Basic info</h3>
    <p>
        <ul class="brief-list">
            <li>Name: 黃克崴 (Kent Huang)</li>
            <li>Age: 18 years old</li>
            <li>From: Taichung, Taiwan</li>
        </ul>
    </p>
    <h3>Occupations</h3>
    <p>
        <ul class="brief-list">
            <li>CS student at NCTU (國立交通大學)</li>
            <li>Competitive programmer at NCTU PCCA</li>
            <li>Rookie hacker at BambooFox</li>
        </ul>
    </p>
    <h3>More Details</h3>
    <p>
        <details>
            <summary>Click to expand</summary>
            <ul class="brief-list">
                <li>CS student at NCTU (國立交通大學)</li>
                <li>Competitive programmer at NCTU PCCA</li>
                <li>Rookie hacker at BambooFox</li>
            </ul>
        </details>
    </p>
    <h3>Some Links</h3>
    <p>
        <ul class="item-list">
            <li><a href="https://github.com/toxicpie" target="_blank">GitHub</a></li>
            <li><a href="https://codeforces.com/profile/toxicpie9" target="_blank">Codeforces</a></li>
            <li><a href="https://www.facebook.com/people/%E9%BB%83%E5%85%8B%E5%B4%B4/100012509168810" target="_blank">Facebook</a></li>
            <li><a href="https://t.me/toxicpie" target="_blank">Telegram</a></li>
            <li><a href="mailto:kent05066107@gmail.com" target="_blank">Gmail</a></li>
            <li><a href="https://discordapp.com/users/468420931812065281" target="_blank">Discord</a></li>
            <li><a href="https://osu.ppy.sh/users/13376271" target="_blank">osu!</a></li>
        </ul>
    </p>
</div>
