body { background: #333333 }
.linenodiv { color: #999999; user-select: none; padding: 0 .75em 0 .5em } /* line numbers */
.highlight span { line-height: 1em } /* some fonts have bold text a little taller */

/* modified from pygments dark theme http://bytefluent.com/devify/ */
.highlight, .highlight pre, .highlight table { background: #333333; color: #f8f8ff }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #969696; font-style: italic } /* Comment */
.highlight .err { color: #f8f8ff } /* Error */
.highlight .g { color: #f8f8ff } /* Generic */
.highlight .k { color: #d2b48c; font-weight: bold } /* Keyword */
.highlight .l { color: #f8f8ff } /* Literal */
.highlight .n, .highlight .h { color: #f8f8ff } /* Name */
.highlight .o { color: #74ace2 } /* Operator */
.highlight .x { color: #f8f8ff } /* Other */
.highlight .p { color: #f8f8ff } /* Punctuation */
.highlight .cm { color: #969696; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #ee7ae9 } /* Comment.Preproc */
.highlight .c1 { color: #969696; font-style: italic } /* Comment.Single */
.highlight .cs { color: #969696; font-style: italic } /* Comment.Special */
.highlight .gd { color: #f8f8ff } /* Generic.Deleted */
.highlight .ge { color: #f8f8ff } /* Generic.Emph */
.highlight .gr { color: #f8f8ff; background-color: #cd0000 } /* Generic.Error */
.highlight .gh { color: #f8f8ff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #f8f8ff } /* Generic.Inserted */
.highlight .go { color: #cdcd00; background-color: #262626 } /* Generic.Output */
.highlight .gp { color: #f8f8ff; font-weight: bold } /* Generic.Prompt */
.highlight .gs { color: #f8f8ff } /* Generic.Strong */
.highlight .gu { color: #f8f8ff; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #f8f8ff } /* Generic.Traceback */
.highlight .kc { color: #d2b48c; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #d2b48c; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #d2b48c; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #d2b48c } /* Keyword.Pseudo */
.highlight .kr { color: #d2b48c; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #ffa500 } /* Keyword.Type */
.highlight .ld { color: #f8f8ff } /* Literal.Date */
.highlight .m { color: #FF7070 } /* Literal.Number */
.highlight .s { color: #ffa0a0 } /* Literal.String */
.highlight .na { color: #60DD60 } /* Name.Attribute */
.highlight .nb { color: #f8f8ff } /* Name.Builtin */
.highlight .nc { color: #f8f8ff; font-weight: bold } /* Name.Class */
.highlight .no { color: #FF7070 } /* Name.Constant */
.highlight .nd { color: #f8f8ff } /* Name.Decorator */
.highlight .ni { color: #DDDD00; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #ffa500; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #60DD60 } /* Name.Function */
.highlight .nl { color: #ffa500 } /* Name.Label */
.highlight .nn { color: #f8f8ff; font-weight: bold } /* Name.Namespace */
.highlight .nx { color: #f8f8ff } /* Name.Other */
.highlight .py { color: #f8f8ff } /* Name.Property */
.highlight .nt { color: #d2b48c; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #60DD60 } /* Name.Variable */
.highlight .ow { color: #ffa500; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8ff } /* Text.Whitespace */
.highlight .mf { color: #FF7070 } /* Literal.Number.Float */
.highlight .mh { color: #FF7070 } /* Literal.Number.Hex */
.highlight .mi { color: #FF7070 } /* Literal.Number.Integer */
.highlight .mo { color: #FF7070 } /* Literal.Number.Oct */
.highlight .sb { color: #ffa0a0 } /* Literal.String.Backtick */
.highlight .sc { color: #ffa0a0 } /* Literal.String.Char */
.highlight .sd { color: #ffa0a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #ffa0a0 } /* Literal.String.Double */
.highlight .se { color: #ffa0a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #ffa0a0 } /* Literal.String.Heredoc */
.highlight .si { color: #ffa0a0; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #ffa0a0 } /* Literal.String.Other */
.highlight .sr { color: #ffa0a0 } /* Literal.String.Regex */
.highlight .s1 { color: #ffa0a0 } /* Literal.String.Single */
.highlight .ss { color: #ffa0a0 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8ff } /* Name.Builtin.Pseudo */
.highlight .vc { color: #60DD60 } /* Name.Variable.Class */
.highlight .vg { color: #60DD60 } /* Name.Variable.Global */
.highlight .vi { color: #60DD60 } /* Name.Variable.Instance */
.highlight .il { color: #FF7070 } /* Literal.Number.Integer.Long */
