html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: "Source Code Pro", monospace;
    top: 0;
    margin: 0;
    overflow: auto;
}

@media (max-width: 540px) {
    :root {
        font-size: 12px;
    }
}
@media (min-width: 540px) {
    :root {
        font-size: 14px;
    }
}
@media print {
    .controls {
        display: none !important;
    }
    body {
        overflow: hidden;
    }
}

pre, code {
    font-family: "Source Code Pro", monospace;
}

.highlighttable {
    /* display: block;
    table-layout: fixed; */
}

.linenodiv {
    color: #999999;
    padding: 0 .75em 0 .5em;
}

/* some fonts have bold text a little taller */
.highlight span {
    line-height: 1em;
}

/* only code is selectable */
* {
    user-select: none;
}
.highlight * {
    user-select: text !important;
}

.controls {
    margin: 0 1em;
    display: flex;
}

.title{
    margin: 1.5em;
}

.control-button {
    margin: 0 .5em;
    padding: .25em .5em;
    color: black;
    /* background-color: white; */
    border: 1px solid black;
    text-decoration: none;
}
