body {
    font-family: "Roboto Slab", "Noto Sans TC", sans-serif;
}

@media (max-width: 540px) {
    :root {
        font-size: 14px;
    }
    .content {
        margin: 5px 12.5px;
    }
}
@media (min-width: 540px) {
    :root {
        font-size: 16px;
    }
    .content {
        margin: 5px calc(25% - 50px);
    }
}

.content {
    word-break: break-word;
}

@media (max-width: 960px) {
    .navbar {
        display: none !important;
    }
}
.navbar {
    font-size: .9em;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    width: calc(25% - 50px - 4em);
    height: calc(100% - 20px - 5em);
    margin: 2em 2em 3em 2em;
    overflow: auto;
}
.navbar a {
    display: block;
    width: 100%;
    margin: .25em 0 0 0;
}
#toc-container {
    overflow: auto;
    max-height: calc(100% - 10px - 4em);
}
.navbar hr {
    margin: .75em 0 .25em 0;
    border: 1px solid #888;
}
.navbar p {
    margin: .5em 0 0 0;
}

.title h1, .title h2 {
    margin-bottom: 1em;
}

.item-list {
    column-count: 2;
    column-width: auto;
}

.codehilitetable {
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    display: inline-block;
}
.linenodiv {
    padding: 0;
}
.linenodiv pre {
    margin: 0;
}
pre, code {
    font-size: .9rem;
    font-family: "Source Code Pro";
}

blockquote {
    width: fit-content;
    color: #444;
    background-color: #f0f0f0;
    border-left: 4px solid #c0c0c0;
    margin: .5em .25em;
    padding: .5em 2em .5em 1em;
}
blockquote > p {
    margin-top: .5em;
    margin-bottom: .5em;
}
blockquote > p:first-child {
    margin-top: 0;
}
blockquote > p:last-child {
    margin-bottom: 0;
}

.alert {
    width: fit-content;
    margin: .5em .25em 1em 0.5em;
    border-left: 4px solid;
    padding: .5em 2.5em .5em 1em;
    position: relative;
}
.alert-info, .alert-message {
    color: #222;
    background-color: #e0f0ff;
    border-left-color: #20a0ff;
}
.alert-warning {
    color: #333;
    background-color: #fff0d0;
    border-left-color: #f0c020;
}
.alert-error {
    color: #111;
    background-color: #ffe0d7;
    border-left-color: #ff2030;
}
.alert-success {
    color: #333;
    background-color: #e0f0e0;
    border-left-color: #20d050;
}
.alert.hidden {
    display: none;
}
.alert .close-button {
    cursor: pointer;
    color: #aaa;
    width: 1em;
    height: 1em;
    line-height: 1em;
    position: absolute;
    display: inline-block;
    right: .5em;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
}
.alert .close-button:hover {
    color: #222;
}

spoiler:not(:hover):not(:focus) {
    color: #222;
    background-color: #222;
}
spoiler:focus {
    outline: none;
}

a {
    color: #4090e0;
    text-decoration: none;
}
a:hover {
    color: #205090;
}

summary {
    padding-left: 1em;
}

ol, ul, .brief-list, .item-list {
    margin: .5em 0;
    padding-left: 1.75em;
}

li, .brief-list li, .item-list li {
    margin: 0 0 .25em 0;
}

.form-field {
    margin: .75em 0;
}
input[type=text], input[type=password] {
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Roboto Slab";
    margin: .25em .5em 0 0;
}
input[type=checkbox] {
    margin-left: 0;
}
input.submit-button {
    margin: .25em 0;
    font-size: .9em;
    font-family: "Roboto Slab";
}

footer hr {
    border: 1px solid #888;
    margin-top: 1.5rem;
}
footer p {
    color: #444;
    font-size: .9em;
    line-height: 1.4em;
    text-align: center;
}
