body {
    font-family: "Nunito", "Noto Sans TC", sans-serif;
    color: #171819;
}

@media (max-width: 540px) {
    :root {
        font-size: 15px;
    }
    .content {
        margin: 5px 12.5px;
    }
}
@media (min-width: 540px) {
    :root {
        font-size: 16px;
    }
    .content {
        margin: 5px calc(25% - 50px);
    }
}

.content {
    word-break: break-word;
}

strong, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

@media (max-width: 960px) {
    .navbar {
        font-size: .9em;
        margin-bottom: 2em;
    }
    .navbar .links {
        text-align: right;
    }
    #top {
        display: none;
    }
    #edit, #home {
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
    .navbar a {
        width: fit-content;
    }
}
@media (min-width: 960px) {
    .navbar {
        font-size: .9em;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: calc(25% - 50px - 4em);
        height: calc(100% - 10px - 4em);
        margin: 2em;
        overflow-y: auto;
    }
    #toc-container {
        overflow: auto;
        max-height: calc(100% - 10px - 4em);
    }
    .navbar a {
        width: 100%;
    }
}
.navbar a {
    display: block;
    margin: .25em 0 0 0;
}
.navbar hr {
    margin: .75em 0 .25em 0;
    border: 1px solid #888;
}
.navbar p {
    margin: .5em 0 0 0;
}

.title h1, .title h2, .title h3 {
    margin-bottom: 0;
}
.title h1 ~ h3 {
    margin-top: .5rem;
}
.title {
    margin-bottom: 1.5rem;
}

.item-list {
    column-count: 2;
    column-width: auto;
}

.codehilitetable {
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    display: inline-block;
}
.codehilitetable td {
    padding: 0;
}
.linenodiv {
    padding: 0 .25em 0 .5em;
}
.linenodiv pre {
    margin: 0;
}
pre, code {
    cursor: text;
    font-size: .9rem;
    font-family: "DM Mono";
}
p > code {
    background: #f4f4f4;
    padding: 0 .25em;
}
.codehilite pre {
    padding-left: .25em;
}
.linenodiv pre, .codehilite, pre code {
    font-size: .9rem;
}

blockquote {
    width: fit-content;
    color: #333;
    background-color: #f0f0f0;
    border-left: 4px solid #c0c0c0;
    margin: .5em .25em;
    padding: .5em 2em .5em 1em;
}
blockquote > p, .alert > p {
    margin-top: .25em;
    margin-bottom: .25em;
}
blockquote > p:first-child, .alert > p:first-child {
    margin-top: 0;
}
blockquote > p:last-child, .alert > p:last-child {
    margin-bottom: 0;
}

.alerts {
    margin-bottom: 1em;
}
.alert {
    width: fit-content;
    margin: .5em .25em;
    border-left: 4px solid;
    padding: .5em 2em .5em 1em;
    position: relative;
}
.alert.info, .alert.message {
    background-color: #e0f0ff;
    border-left-color: #20a0ff;
}
.alert.warning {
    background-color: #fff0d0;
    border-left-color: #f0c020;
}
.alert.error {
    background-color: #ffe0e0;
    border-left-color: #ff2030;
}
.alert.success {
    background-color: #e0f0e0;
    border-left-color: #20d050;
}
.alert.hidden {
    display: none !important;
}
.alert .alert-title {
    font-weight: bold;
}
.alert .close-button {
    cursor: pointer;
    color: #aaa;
    width: 1em;
    height: 1em;
    line-height: 1em;
    position: absolute;
    display: inline-block;
    right: .5em;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
}
.alert .close-button:hover {
    color: #222;
}

.spoiler:not(:hover):not(:focus) {
    color: #222;
    background-color: #222;
}
.spoiler:focus {
    outline: none;
}

.underline {
    text-decoration: underline;
}

a {
    color: #1070c0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

summary {
    padding-left: 1em;
}

ol, ul, .brief-list, .item-list {
    margin: .5em 0;
    padding-left: 1.75em;
}

li, .brief-list li, .item-list li {
    margin: 0 0 .25em 0;
}
table {
    border-collapse: collapse;
    padding: 0;
}
table tr {
    border-top: 1px solid #bbb;
    background-color: white;
    margin: 0;
    padding: 0;
}
table:not(.codehilitetable) tbody tr:nth-child(2n+1) {
    background-color: #f7f7f7;
}
table:not(.codehilitetable) tr th {
    font-weight: bold;
    border: 1px solid #bbb;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #bbb;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table:not(.codehilitetable) tr th :first-child, table tr td :first-child {
    margin-top: 0;
}
table:not(.codehilitetable) tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
}

.math-container {
    overflow: auto;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: -1em 0;
    height: min-content;
}
.math-container ~ .math-container {
    margin-top: -2em;
}

.form-field {
    margin: .75em 0;
}
input[type=text], input[type=password] {
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    font-family: inherit;
    margin: .25em .5em 0 0;
}
input[type=checkbox] {
    margin-left: 0;
}
input.submit-button {
    margin: .25em 0;
    font-size: .9em;
    font-family: inherit;
}

.CodeMirror {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: .85rem;
    font-family: "DM Mono";
    border: 1px solid #bbb;
}

footer hr {
    border: 1px solid #888;
    margin-top: 1.5rem;
}
footer p {
    color: #444;
    font-size: .9em;
    line-height: 1.4em;
    text-align: center;
}
