{% extends 'default.html' %}

{% block title %}Manage Account{% endblock %}

{% block h1 %}Manage Your Account{% endblock %}

{% block body %}
{% include('include/form-errors.html') %}
<div class="section">
    <script type="text/javascript">
        const validate_form = () => {
            let form = document.forms['account'];
            // check username format
            if(form['new_username'].value !== '' && !form['new_username'].value.match(/[a-zA-Z0-9_]+/)) {
                form['new_username'].setCustomValidity('Username should only contain letters, numbers, and underscores.');
                return false;
            } else {
                form['confirm_password'].setCustomValidity('');
            }
            // check password mismatch
            if(form['new_password'].value !== form['confirm_password'].value) {
                form['confirm_password'].setCustomValidity('Passwords must match.');
                return false;
            } else {
                form['confirm_password'].setCustomValidity('');
            }
            return true;
        }
    </script>
    <form name="account" method="POST" action="{{ request.path }}" onsubmit="return validate_form();">
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.new_username.label }}
            <br>
            {{ form.new_username(minlength='3', maxlength='100', placeholder='Leave blank if unchanged') }}
        </div>
        <div class="form-field">
            {{ form.password.label }}
            <br>
            {{ form.password(maxlength='100') }}
        </div>
        <div class="form-field">
            {{ form.new_password.label }}
            <br>
            {{ form.new_password(minlength='6', maxlength='100', placeholder='Leave blank if unchanged') }}
        </div>
        <div class="form-field">
            {{ form.confirm_password.label }}
            <br>
            {{ form.confirm_password }}
        </div>
        <input type="submit" class="submit-button" value="Continue">
    </form>
</div>
{% endblock %}
