<!DOCTYPE html>
<html>
<head>
    {% include('include/head-metas.html') %}
    {% block head %}{% endblock %}
    {% include('include/head-links.html') %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="content">
        <div class="section title">
            <h1>{% block h1 %}{% endblock %}</h1>
            <h3>{% block h3 %}{% endblock %}</h3>
        </div>

        {% block messages %}
        {% include('include/flash-messages.html') %}
        {% endblock %}

        {% block nav %}{% endblock %}

        {% block body %}{% endblock %}

        {% include('include/footer.html') %}
    </div>
</body>
</html>
