<!DOCTYPE html>
<html>
<head>
    {% include('include/head-metas.html') %}
    {% include('include/head-links.html') %}

    <title>{{ code }}</title>
</head>
<body>
    <div class="content">
        <div class="section title">
            <h1>{{ code }} {{ message }}</h1>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="section">
                <p>{{ messages[0] }}</p>
            </div>
            {% endif %}
        {% endwith %}
        {% include('include/footer.html') %}
    </div>
</body>
</html>
