<!DOCTYPE html>
<html>
<head>
    {% include('include/head-metas.html') %}
    {% include('include/head-links.html') %}

    <title>{{ code }}</title>

    <style>
        /* .error-message h1 {
            font-size: 2.5em;
            margin: .5em 0;
        }
        .error-message p {
            font-size: 1.5em;
            margin: .5em 0;
            font-weight: bold;
        } */
    </style>
</head>
<body>
    <div class="content">
        <div class="section title">
            <h1>{{ code }} {{ message }}</h1>
        </div>
        {% include('include/footer.html') %}
    </div>
</body>
</html>
