<!-- served with Flask 1.1.2 and nginx 1.16.1 -->
<!DOCTYPE html>
<html>
<head>
    {% include('include/_head-metas.html') %}
    {% include('include/_head-links.html') %}

    <title>bruh</title>
</head>
<body>
    <div class="content">
        <div class="section title">
            <h1>bruh: recursively, utterly harmonic</h1>
        </div>
        <div class="section">
            <p>A minimal yet functional website constructed for all our dedications; the place upon which everything - stories, creations, passions - are built.</p>
            <p>The very beginning of a new journey.</p>
        </div>
        <div class="section">
            <h3 class="section-title">Some stuff you might want to check out</h3>
            <ul>
                <li><a href="https://cos.parto.nctu.me/ompp" target="_blank">osu!mania pp calculator</a></li>
            </ul>
        </div>
        <div class="section">
            {% include('include/_intro-full.html') %}
        </div>
        {% include('include/_footer.html') %}
    </div>
</body>
</html>
