{% extends 'default.html' %}

{% block title %}bruh{% endblock %}

{% block h1 %}bruh: recursively, utterly harmonic{% endblock %}

{% block body %}
<div class="section">
    <p>A minimal yet functional website constructed for all our dedications; the place upon which everything - stories, creations, passions - are built.</p>
    <p>The very beginning of a new journey.</p>
</div>
<div class="section">
    <h2>Now what?</h2>
    <p>
    {% if current_user.is_authenticated %}
        It seems that you are already logged in!
    {% else %}
        If you have an approved account, you might want to <a href="/login?next=%2F">log in</a>.
    {% endif %}
    With the default privileges you can:</p>
    <ul>
        <li><a href="/editpage">Edit this website</a> (View <a href="/markdown-example">help</a>)</li>
        <li><a href="/upload">Upload stuff</a></li>
        <li><a href="/account">Manage you account</a></li>
        <li><a href="/logout">Leave</a></li>
        <li>That's pretty much it for now. You may contact the developer to wish for a feature or some design update, etc.</li>
    </ul>
</div>
{% endblock %}
