{% extends 'default.html' %}

{% block title %}bruh{% endblock %}

{% block h1 %}bruh: recursively, utterly harmonic{% endblock %}

{% block body %}
<div class="section">
    <p>A minimal yet functional website constructed for all our dedications; the place upon which everything - stories, creations, passions - are built.</p>
    <p>The very beginning of a new journey.</p>
</div>
<div class="section">
    <h2>Introducing bruhmd!</h2>
    <p>View the details <a href="/bruhmd">here</a>.</p>
</div>
{% endblock %}
