{% extends 'default.html' %}

{% block title %}Login{% endblock %}

{% block h1 %}Login to bruh{% endblock %}

{% block body %}
{% include('include/form-errors.html') %}
<div class="section">
    <form name="login" method="POST" action="{{ request.full_path }}">
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.username.label }}
            <br>
            {{ form.username(maxlength='100') }}
        </div>
        <div class="form-field">
            {{ form.password.label }}
            <br>
            {{ form.password(maxlength='100') }}
        </div>
        <div class="form-field">
            {{ form.remember }}
            {{ form.remember.label }}
        </div>
        <input type="submit" class="submit-button" value="Continue">
    </form>
</div>
{% endblock %}
