{% extends 'default.html' %}

{% block title %}Paste Code{% endblock %}

{% block h1 %}Paste Code - bruhcode{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/codemirror-5.55.0/lib/codemirror.css">
    <script src="/static/codemirror-5.55.0/lib/codemirror.js"></script>
    <!-- <script src="/static/codemirror-5.55.0/mode/markdown/markdown.js"></script> -->
{% endblock %}

{% block body %}
{% include('include/form-errors.html') %}
<div class="section">
    <script type="text/javascript">
        // document.addEventListener('DOMContentLoaded', (e) => {
        //     var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('content'), {
        //         lineNumbers: true,
        //         // mode: 'markdown',
        //         lineSeparator: '\n'
        //     });
        // });

        const validate_form = () => {
            // let form = document.forms['paste'];
            return true;
        }
    </script>
    <form name="paste" method="POST" action="{{ request.path }}" onsubmit="return validate_form();">
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.format.label }}
            <br>
            {{ form.format(minlength='3', maxlength='50') }}
        </div>
        <div class="form-field">
            {{ form.paste_content.label }}
            <br>
            {{ form.paste_content }}
        </div>
        <input type="submit" class="submit-button" value="Submit">
    </form>
</div>
{% endblock %}
